.gradle/
build/
out/
*.class
*.log

.idea/
*.iml
.vscode/

.DS_Store

local.env
*.local

app-desktop/build/
app-core/build/
app-mock/build/
app-aws/build/
app-jfr/build/
app-mcp/build/
app-storage/build/
app-test-support/build/
